#project-reentry-header {
  margin: 0;

  #project-reentry-title.mobile {
    font-size: 0.7em;
    font-weight: 700;
  }

  #project-reentry-logo {
    height: 2.7em;
  }

  #project-reentry-logo.mobile {
    height: 1.8em;
  }
}
