<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between start">
  <span>{{data.email}}</span>
  <button mat-icon-button (click)="cancel()">
    <i class="fas fa-times"></i>
  </button>
</div>

<div mat-dialog-content>
  <form [formGroup]="roleForm" fxLayout="row">
    <mat-form-field fxFlex="100">
      <mat-select placeholder="Select a role" [required]="true" formControlName="role">
        <mat-option value="admin">admin</mat-option>
        <mat-option value="user">user</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="0.2em">
  <button mat-stroked-button (click)="cancel()">
    <span><i class="fas fa-times fa-fw"></i> Cancel</span>
  </button>
  <button mat-stroked-button (click)="saveRole()">
    <span><i class="far fa-save fa-fw"></i> Save</span>
  </button>
</div>
