<div>
  <div mat-dialog-title>{{data.email}}</div>

  <div mat-dialog-content fxLayout="column">
    <form [formGroup]="roleForm" fxFlex="100">
      <mat-form-field fxLayoutAlign="center center">
        <mat-select placeholder="Select a role" [required]="true" formControlName="role">
          <mat-option value="admin">admin</mat-option>
          <mat-option value="user">user</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="0.5em">
    <button mat-stroked-button (click)="cancel()">
      <span><i class="fas fa-times fa-fw"></i> Cancel</span>
    </button>
    <button mat-stroked-button (click)="saveRole()">
      <span><i class="far fa-save fa-fw"></i> Save</span>
    </button>
  </div>
</div>
