<ng-template #progressSpinner>
  <app-progress-spinner></app-progress-spinner>
</ng-template>

<ng-container *ngIf="currentOrg$ | async as org; else progressSpinner">
  <div [@transitionAnimations]>
    <app-subheader [subheaderText]="org.name" [subheaderSubText]="org.address.city + ', ' + org.address.county"></app-subheader>

    <div fxLayout="column" fxLayoutGap="1em" class="org-section">
      <div fxLayout="column" fxLayoutGap="0.2em">
        <div *ngIf="org.description != null && org.description != ''">{{org.description}}</div>
      </div>

      <div *ngIf="org.services!=null">
        <mat-divider></mat-divider>
        <h4 id="services-header"><i class="fas fa-concierge-bell fa-fw"></i> Services Provided</h4>
        <mat-chip-list>
          <mat-chip class="serviceCategoryChips" *ngFor="let serviceCategory of org.services" (click)="viewServiceCategory(serviceCategory)"
            matTooltip="View {{serviceCategory}} services">{{serviceCategory}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <!--Address and Map-->
    <div fxLayout="column" class="org-section">
      <div *ngIf="org">
        <mat-divider></mat-divider>
        <h4><i class="fas fa-map-marker-alt fa-fw"></i> Address</h4>
        <div>
          <a href="https://www.google.com/maps/place/{{org.formattedAddress}}" target="_blank" matTooltip="View in Google Maps">
            {{org.address.streetAddress1}}{{(org.address.streetAddress2 !== null ? (', ' + org.address.streetAddress2 + ',') : null)}}<br>
            {{org.address.city}}, {{org.address.state}} {{org.address.zipCode}}
          </a>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div id="gMap" fxFlex="100"></div>
      </div>
    </div>

    <!--Hours-->
    <div fxLayout="column" class="org-section" *ngIf="org">
      <mat-divider></mat-divider>
      <h4><i class="far fa-clock fa-fw"></i> Hours</h4>

      <ng-template #noHours>
        <div>Not specified</div>
      </ng-template>

      <div *ngIf="org.hours.specifyHours==true; else noHours">
        <table id="hours-table">
          <tr *ngFor="let day of daysOfWeek">
            <th>{{day}}</th>
            <td>{{org['hours'][day.toLowerCase()]['open']==true ?
                (org['hours'][day.toLowerCase()]['start'] | convertTime) + ' - ' + (org['hours'][day.toLowerCase()]['end'] | convertTime) : 'Closed'}}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!--Website-->
    <div fxLayout="column" class="org-section" *ngIf="org && org.website != null && org.website != ''">
      <mat-divider></mat-divider>
      <h4><i class="fas fa-globe fa-fw"></i> Website</h4>
      <div><a href="{{org.website}}" target="_blank">{{org.website}}</a></div>
    </div>

    <!--Contact-->
    <div fxLayout="column" class="org-section" *ngIf="org && ((org.contact.name != null && org.contact.name != '') ||
         (org.contact.email != null && org.contact.email != '') || (org.contact.phone != null && org.contact.phone != ''))">
      <mat-divider></mat-divider>
      <h4><i class="far fa-address-book fa-fw"></i> Contact Information</h4>
      <div *ngIf="org.contact.name!=null">{{org.contact.name}}</div>
      <div *ngIf="org.contact.email!=null"><a href="mailto:{{org.contact.email}}">{{org.contact.email}}</a></div>
      <div *ngIf="org.contact.phone!=null"><a href="tel:{{org.contact.phone}}" >{{org.contact.phone}}</a></div>
    </div>

    <!--Other Information-->
    <div fxLayout="column" class="org-section" *ngIf="org">
      <mat-divider></mat-divider>
      <h4><i class="fas fa-info-circle fa-fw"></i> Other Information</h4>

      <ng-template #noOtherInfo>
        <div>N/A</div>
      </ng-template>

      <div *ngIf="org.languages != null && org.languages.length > 0 &&
                  org.bringWithYou != null && org.bringWithYou != '' &&
                  org.payment != null && org.payment != '' &&
                  org.transportation != null && org.transportation != '' &&
                  org.eligibilityRequirements != null && org.eligibilityRequirements != '' &&
                  org.seniorRequirements != null && org.seniorRequirements != '' &&
                  org.additionalNotes != null && org.additionalNotes != ''; else noOtherInfo">
        <table id="other-info-table">
          <tr *ngIf="org.languages != null && org.languages.length > 0">
            <th>Other Languages Spoken:</th>
            <td>
              <span *ngFor="let language of org.languages; last as isLast">
                {{language}}<span *ngIf="!isLast">, </span>
              </span>
            </td>
          </tr>

          <tr>
            <th *ngIf="org.bringWithYou != null && org.bringWithYou != ''">What to Bring:</th>
            <td>{{org.bringWithYou}}</td>
          </tr>

          <tr *ngIf="org.payment != null && org.payment != ''">
            <th>Payment</th>
            <td>{{org.payment ? 'Yes' : 'No'}}</td>
          </tr>

          <tr *ngIf="org.transportation != null && org.transportation != ''">
            <th>Transportation Provided:</th>
            <td>{{org.transportation ? 'Yes' : 'No'}}</td>
          </tr>

          <tr *ngIf="org.eligibilityRequirements != null && org.eligibilityRequirements != ''">
            <th>Eligibility Requirements:</th>
            <td>{{org.eligibilityRequirements ? 'Yes' : 'No'}}</td>
          </tr>

          <tr *ngIf="org.seniorRequirements != null && org.seniorRequirements != ''">
            <th>Senior Requirements:</th>
            <td>{{org.seniorRequirements ? 'Yes' : 'No'}}</td>
          </tr>

          <tr *ngIf="org.additionalNotes != null && org.additionalNotes != ''">
            <th>Additional Notes:</th>
            <td>{{org.additionalNotes}}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</ng-container>
