<ng-template #progressSpinner>
  <app-progress-spinner></app-progress-spinner>
</ng-template>

<div fxLayoutAlign="center center" *ngIf="(currentOrg$ | async) as org; else progressSpinner" [@transitionAnimations]>
  <div fxLayout="column" class="content" *ngIf="orgForm != null">

    <div fxLayout="row wrap">
      <h2 class="page-header">{{org.name}} (Edit)</h2>
    </div>

    <div fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center center" fxFill class="progress-spinner" *ngIf="!org">
      <mat-spinner [diameter]="75"></mat-spinner>
      <div>Loading...</div>
    </div>

    <form fxLayout="column" fxLayoutGap="1.5em" [formGroup]="orgForm">

      <div fxLayout="column" fxLayoutGap="1.5em">
        <div fxLayout="row">
          <mat-form-field fxFlex="100">
            <mat-label>Organization Name</mat-label>
            <input matInput [required]="true" formControlName="name" [errorStateMatcher]="matcher">
            <mat-error *ngIf="orgForm.get('name').hasError('required')">
              Organization name is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field fxFlex="100">
            <mat-label>Description</mat-label>
            <textarea matInput rows="1" formControlName="description"></textarea>
            <mat-hint>Enter a brief description about the organization.</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="1.5em" fxLayoutGap.xs="0" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="70" fxFlex.xs="100">
            <mat-label>Services Provided</mat-label>
            <mat-select [required]="true" formControlName="services" multiple [errorStateMatcher]="matcher">
              <mat-option *ngFor="let service of serviceCategories" [value]="service.name">{{service.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="orgForm.get('services').hasError('required')">
              Select at least one service.
            </mat-error>
          </mat-form-field>

          <div>
            <button type="button" mat-stroked-button class="edit-item-list-button" (click)="editServiceCategories()">
              <span><i class="far fa-edit fa-fw"></i> Service List</span>
            </button>
          </div>
        </div>
      </div>

      <div>
        <mat-divider></mat-divider>
      </div>

      <div fxLayout="column" fxLayoutGap="1em">
        <h3 class="section-header">
          <i class="far fa-clock fa-fw"></i> Hours
        </h3>

        <div [formGroup]="orgForm.get('hours')">
          <mat-slide-toggle formControlName="specifyHours" (change)="specifyHours()">Specify Hours</mat-slide-toggle>
        </div>

        <div [hidden]="orgForm.get('hours').get('specifyHours').value==false">
          <div fxLayout="column" fxLayoutGap="0">
            <div fxLayout="row" fxFlex="100" fxLayoutGap="0.5em" *ngFor="let day of daysOfWeek"
                 [formGroup]="orgForm.get('hours').get(day.toLowerCase())">
              <div fxLayoutAlign="start center" fxFlex="8em">
                <mat-checkbox formControlName="open" (change)="toggleDay(day.toLowerCase())">{{day}}</mat-checkbox>
              </div>
              <mat-form-field fxFlex="8em">
                <mat-label>Start</mat-label>
                <input matInput type="time" formControlName="start">
              </mat-form-field>
              <mat-form-field fxFlex="8em">
                <mat-label>End</mat-label>
                <input matInput type="time" formControlName="end">
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>

      <div>
        <mat-divider></mat-divider>
      </div>

      <div formGroupName="address" fxLayout="column" fxLayoutGap="1em">
        <h3 class="section-header">
          <i class="fas fa-map-marker-alt fa-fw"></i> Address
        </h3>

        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1.5em" fxLayoutGap.xs="0.5em">
          <mat-form-field fxFlex="47" fxFlex.xs="100">
            <mat-label>Street Address</mat-label>
            <input matInput [required]="true" formControlName="streetAddress1" [errorStateMatcher]="matcher">
            <mat-error *ngIf="orgForm.get('address.streetAddress1').hasError('required')">
              Street address is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="47" fxFlex.xs="100">
            <mat-label>Street Address 2</mat-label>
            <input matInput formControlName="streetAddress2">
            <mat-hint>Apt, suite, unit, building, floor, etc...</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1.5em" fxLayoutGap.xs="0.5em">
          <mat-form-field fxFlex="30" fxFlex.sm="47" fxFlex.xs="100">
            <mat-label>City</mat-label>
            <input matInput [required]="true" formControlName="city" [errorStateMatcher]="matcher">
            <mat-error *ngIf="orgForm.get('address.city').hasError('required')">
              City is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="30" fxFlex.sm="47" fxFlex.xs="100">
            <mat-select placeholder="State" [required]="true" formControlName="state" [errorStateMatcher]="matcher">
              <mat-option value="MI">Michigan</mat-option>
            </mat-select>
            <mat-error *ngIf="orgForm.get('address.state').hasError('required')">
              State is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="30" fxFlex.sm="47" fxFlex.xs="100">
            <mat-label>Zip Code</mat-label>
            <input matInput [required]="true" formControlName="zipCode" [errorStateMatcher]="matcher">
            <mat-error *ngIf="orgForm.get('address.zipCode').hasError('required')">
              Zip code is required.
            </mat-error>
            <mat-error *ngIf="orgForm.get('address.zipCode').hasError('pattern')">
              Enter a valid zip code.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div>
        <mat-divider></mat-divider>
      </div>

      <div fxLayout="column" fxLayoutGap="1em">
        <h3 class="section-header">
          <i class="fas fa-globe fa-fw"></i> Website
        </h3>

        <div fxLayout="row">
          <mat-form-field fxFlex="100" fxFlex.xs="100">
            <mat-label>URL</mat-label>
            <input matInput type="url" formControlName="website" [errorStateMatcher]="matcher">
            <mat-error *ngIf="orgForm.get('website').hasError('pattern')">
              Enter a valid web url.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div>
        <mat-divider></mat-divider>
      </div>

      <div formGroupName="contact" fxLayout="column" fxLayoutGap="1em">
        <div class="section-header">
          <i class="far fa-address-book fa-fw"></i> Contact Information
        </div>

        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1.5em" fxLayoutGap.xs="0.5em">
          <mat-form-field fxFlex="30" fxFlex.sm="47" fxFlex.xs="100">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field fxFlex="30" fxFlex.sm="47" fxFlex.xs="100">
            <mat-label><i class="far fa-envelope fa-fw"></i> Email</mat-label>
            <input matInput formControlName="email" [errorStateMatcher]="matcher">
            <mat-error *ngIf="orgForm.get('contact.email').hasError('email')">
              Enter a valid email address.
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="30" fxFlex.sm="47" fxFlex.xs="100">
            <mat-label><i class="fas fa-mobile-alt fa-fw"></i> Phone</mat-label>
            <input matInput type="tel" formControlName="phone" [errorStateMatcher]="matcher">
            <mat-error *ngIf="orgForm.get('contact.phone').hasError('pattern')">
              Enter a valid US phone number.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div>
        <mat-divider></mat-divider>
      </div>

      <div fxLayout="column" fxLayoutGap="1em">
        <h3 class="section-header">
          <i class="fas fa-info-circle fa-fw"></i> Other Information
        </h3>

        <div fxLayout="row wrap" fxLayoutGap="1.5em" fxLayoutGap.xs="0" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="70" fxFlex.xs="100">
            <mat-label><i class="fas fa-language fa-fw"></i> Other Languages Spoken</mat-label>
            <mat-select formControlName="languages" multiple>
              <mat-option *ngFor="let language of languages" [value]="language.language">{{language.language}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button type="button" mat-stroked-button (click)="editLanguages()">
              <span><i class="far fa-edit fa-fw"></i> Language List</span>
            </button>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1.5em" fxLayoutGap.xs="0.5em">
          <mat-form-field fxFlex="47" fxFlex.xs="100">
            <mat-label><i class="fas fa-file-invoice-dollar fa-fw"></i> Payment</mat-label>
            <mat-select formControlName="payment">
              <mat-option *ngFor="let payment of paymentOptions" [value]=payment>{{payment}}</mat-option>
            </mat-select>
            <mat-error *ngIf="orgForm.get('payment').hasError('required')">
              Select a payment option.
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="47" fxFlex.xs="100">
            <mat-label><i class="fas fa-bus fa-fw"></i> Transportation Provided</mat-label>
            <mat-select formControlName="transportation">
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]=false>No</mat-option>
            </mat-select>
            <mat-error *ngIf="orgForm.get('transportation').hasError('required')">
              Select a transportation provided option.
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1.5em" fxLayoutGap.xs="0.5em">
          <mat-form-field fxFlex="47" fxFlex.xs="100">
            <mat-label>Senior Requirements</mat-label>
            <mat-select formControlName="seniorRequirements">
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]=false>No</mat-option>
            </mat-select>
            <mat-error *ngIf="orgForm.get('seniorRequirements').hasError('required')">
              Select a senior requirement option.
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="47" fxFlex.xs="100">
            <mat-label>Eligibility Requirements</mat-label>
            <mat-select formControlName="eligibilityRequirements">
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]=false>No</mat-option>
            </mat-select>
            <mat-error *ngIf="orgForm.get('eligibilityRequirements').hasError('required')">
              Select a an eligibility requirements option.
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1.5em" fxLayoutGap.xs="0.5em">
          <mat-form-field fxFlex="100">
            <mat-label>What to Bring</mat-label>
            <input matInput type="url" formControlName="bringWithYou">
            <mat-hint>Enter a list of things that should be brought when visiting this organization.</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1.5em" fxLayoutGap.xs="0.5em">
          <mat-form-field fxFill>
            <mat-label>Additional Notes</mat-label>
            <textarea matInput rows="1" formControlName="additionalNotes"></textarea>
            <mat-hint>Enter any other additional notes about the organization.</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5em" fxLayoutGap.xs="0.5em" fxLayoutAlign="end">
        <button type="button" mat-stroked-button [routerLink]="['/', 'admin', 'orgs', 'view', org.address.city, org.name]">
          <span><i class="fas fa-times fa-fw"></i> CANCEL</span>
        </button>
        <button type="button" mat-stroked-button (click)="onSubmit()" [disabled]="!orgForm.valid" class="save-button">
          <span><i class="far fa-save fa-fw"></i> SAVE CHANGES</span>
        </button>
      </div>
    </form>

  </div>
</div>
