<app-nav></app-nav>

<div class="container" fxLayoutAlign="center center" fxLayout="row">

  <div fxLayout="column" fxFlex="50" fxFlex.sm="80" fxFlex.xs="95">
    <app-header fxHide.xs></app-header>

    <router-outlet (activate)="onActivate($event)" *ngIf="(allOrgs$ | async) && (serviceCategories$ | async); else progressSpinner"></router-outlet>

    <ng-template #progressSpinner>
      <app-progress-spinner></app-progress-spinner>
    </ng-template>

    <app-footer></app-footer>
  </div>

</div>
