<nav>
  <mat-toolbar class="nav-toolbar mat-elevation-z1" ngClass.xs="mobile" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button id="logo" [matMenuTriggerFor]="navMenu" fxHide.gt-xs>
      <span><i class="fas fa-bars fa-fw"></i></span>
    </button>

    <div fxLayout="row" fxLayoutAlign="start center" fxHide.xs>
      <button mat-button [routerLink]="['']"><span><i class="fas fa-home fa-fw"></i> Home</span></button>
      <button mat-button [routerLink]="['/', 'about']"><span><i class="fas fa-info-circle fa-fw"></i> About Us</span></button>
      <button mat-button [routerLink]="['/', 'admin']" *ngIf="isAdmin$ | async"><span><i class="fas fa-user-cog fa-fw"></i> Admin</span></button>
    </div>

    <button mat-icon-button (click)="goBack()" fxHide.gt-xs><span><i class="fas fa-arrow-left fa-fw"></i></span></button>
    <button mat-button (click)="goBack()" fxHide.xs><span><i class="fas fa-arrow-left fa-fw"></i> Back</span></button>
  </mat-toolbar>
</nav>

<mat-menu #navMenu="matMenu">
  <button mat-menu-item [routerLink]="['']"><span><i class="fas fa-home fa-fw"></i> Home</span></button>
  <button mat-menu-item [routerLink]="['/', 'about']"><span><i class="fas fa-info-circle fa-fw"></i> About Us</span></button>
  <button mat-menu-item [routerLink]="['/', 'admin']" *ngIf="isAdmin$ | async"><span><i class="fas fa-user-cog fa-fw"></i> Admin</span></button>
</mat-menu>
