.mat-toolbar-single-row.mobile {
  padding: 0;
}

.nav-toolbar {
  position: fixed;
  top: 0;
  font-size: 1.5em;
  background-color: #ffffff;
  z-index: 100;
  height: 2em;

  #logo {
    font-weight: 700;
  }
}
