<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxFlex="45" fxFlex.sm="75" fxFlex.xs="95" fxLayoutGap="0.5em">

    <h2><i class="fas fa-user-cog fa-fw"></i> Admin</h2>

    <app-login></app-login>

    <div fxLayout="column" fxLayoutGap="1em" *ngIf="isAdmin$ | async">
      <h4>Admin-Only Pages</h4>

      <div fxLayout="column" fxLayoutGap="0.5em">
        <button mat-stroked-button [routerLink]="['/', 'admin', 'orgs']">Manage Organizations</button>
        <button mat-stroked-button [routerLink]="['/', 'admin', 'users']">Manage Users</button>
      </div>
    </div>
  </div>
</div>
