<footer fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutGap.xs="1em">
  <div fxFlex="50%" fxLayout="column">
    <div><img [src]="'assets/sado_logo_500.png'" fxFlexOrder.xs="1" id="sado-logo-img" alt="sado_logo"></div>
    <div><i class="fas fa-globe fa-fw"></i>&nbsp;<a href="http://www.sado.org/" target="_blank">http://www.sado.org/</a></div>
    <div><i class="far fa-envelope fa-fw"></i>&nbsp;<a href="mailto:reentry@sado.org">reentry@sado.org</a></div>
    <div><i class="fas fa-mobile-alt fa-fw"></i>&nbsp;<a href="tel:313-256-9833">313.256.9833</a></div>
  </div>

  <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="0.5em" fxLayoutAlign.xs="start">
    <div class="org-title">Social Media</div>
    <div fxLayout="row" fxLayoutGap="0.5em">
      <a mat-mini-fab href="https://www.facebook.com/sadomich" target="_blank" class="social-media-icon fb-icon mat-elevation-z0">
        <span><i class="fab fa-facebook-square fa-fw"></i></span>
      </a>
      <a mat-mini-fab href="https://twitter.com/sadomich" target="_blank" class="social-media-icon twitter-icon mat-elevation-z0">
        <span><i class="fab fa-twitter fa-fw"></i></span>
      </a>
    </div>
    <div fxLayout="row" id="need-help-link">
      <a href="javascript:void(0)" (click)="openHelpDialog()">Need help or see a problem?</a>
    </div>
  </div>
</footer>
