<div [@transitionAnimations]>
  <app-subheader [subheaderText]="subheaderText"></app-subheader>

  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="SADO">
      <h3>State Appellate Defender Office (SADO)</h3>
      <p>
        The State Appellate Defender Office represents indigent individuals convicted of felonies throughout the State of Michigan.
        SADO practices holistic and client-centered lawyering to obtain positive outcomes for clients on appeal.
        SADO public defenders regularly argue cases in the Michigan Supreme Court and have helped exonerate 19
        wrongfully convicted individuals in recent years.
      </p>
      <p>
        SADO’s Juvenile Lifer Unit represents nearly 200 individuals
        who are entitled to resentencing after a series of US Supreme Court decisions declaring their sentences unconstitutional.
        In 2016, SADO formed Project Reentry, an organization aimed at assisting returning citizens transition home from long prison stays.
      </p>
    </mat-tab>
    <mat-tab label="Project Reentry">
      <h3>Project Reentry</h3>
      <p>
        SADO’s Project Reentry launched in 2016 in response to the unique and immediate needs of Michigan’s juvenile
        lifers—individuals who were sentenced as children (age 17 and under) to mandatory life without parole sentences.
        They will have the opportunity for release after serving a minimum of 25 years in prison; many have already
        served over 40 years.
      </p>
      <p>
        Reentry back into the community for any formerly incarcerated person can be difficult, but it is especially
        difficult for individuals who entered prison as children and leave as adults. Reentering juvenile lifers need
        assistance with identifying community support, learning how to use technology, developing skills to manage finances,
        finding reliable transportation, obtaining a driver’s license, applying for public benefits, finding employment and housing,
        and much more. Because of the amount of time that has passed during their incarceration, many individuals are
        without family or friends to assist with these substantial needs.
      </p>
      <p>
        SADO’s Project Reentry performs wrap-around services for formerly incarcerated individuals to help with these needs.
        Project Reentry is staffed by one part-time Reentry Coordinator and a team of dedicated and talented Masters of
        Social Work interns and undergraduate students.
      </p>
      <p>
        Project Reentry’s primary goal is to help achieve positive outcomes for clients using five primary tools toward
        goal achievement: the development of Comprehensive Reentry Plans, the facilitation of monthly Reentry Workshops,
        the production of a Reentry Guidebook, the publication of a monthly Reentry Newsletter, and the development of
        this application—an online tool to match formerly incarcerated individuals with the resources they need to transition home.
      </p>
    </mat-tab>
  </mat-tab-group>
</div>
