<div [@transitionAnimations]>
  <app-subheader [subheaderText]="subheaderText"></app-subheader>

  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="SADO">
      <h3>State Appellate Defender Office (SADO)</h3>
      <p>
        The State Appellate Defender Office represents indigent individuals convicted of felonies throughout the State of Michigan.
        SADO practices holistic and client-centered lawyering to obtain positive outcomes for clients on appeal.
        SADO public defenders regularly argue cases in the Michigan Supreme Court and have helped exonerate 19
        wrongfully convicted individuals in recent years.
      </p>
      <p>
        SADO’s Juvenile Lifer Unit represents nearly 200 individuals
        who are entitled to resentencing after a series of US Supreme Court decisions declaring their sentences unconstitutional.
        In 2016, SADO formed Project Reentry, an organization aimed at assisting returning citizens transition home from long prison stays.
      </p>
    </mat-tab>
    <mat-tab label="Project Reentry">
      <h3>Project Reentry</h3>
      <p>
        SADO’s Project Reentry launched in 2016 in response to the unique and immediate needs of Michigan’s juvenile
        lifers—individuals who were sentenced as children (age 17 and under) to mandatory life without parole sentences.
        Today, we provide reentry assistance to all individuals coming home from incarceration.
      </p>
      <p>
        Project Reentry is staffed by one full-time Reentry Coordinator, Allison Gorine, <a href="mailto:agorine@sado.org">agorine@sado.org</a>,
        and is managed by SADO's Deputy Director, Marilena David-Martin, <a href="mailto:mdavid@sado.org">mdavid@sado.org</a>.
      </p>
      <p>
        Project Reentry’s primary goal is to help achieve positive outcomes for individuals using several tools toward goal achievement:
      </p>
      <ul class="about-bullets">
        <li>The development of Comprehensive Reentry Plans (available to clients only)</li>
        <li>The facilitation of monthly Reentry Workshops and bi-weekly Well-Being meetings (available to all)</li>
        <li>The publication of a monthly Reentry Newsletter (available to all)</li>
        <li>The publication of a Reentry Guidebook (available to all)</li>
        <li>The development of this application (available to all)</li>
        <li>Hands-on post-incarceration assistance (available to all as resources allow)</li>
      </ul>
      <p>
        To learn more about Project Reentry, visit: <a href="http://www.sado.org/go/projectreentry" target="_blank">www.sado.org/go/projectreentry</a>.
      </p>
    </mat-tab>
    <mat-tab label="This Resource">
      <h3>This Resource</h3>
      <p>
        This application was designed by programmer Harry Seong, who graciously donated his time to create this invaluable
        resource for the community. Harry graduated with a biological sciences degree from Northwestern University in 2013.
        Upon graduation, he worked at the university's Student Affairs I.T. department, where he discovered his penchant
        for coding and developing applications. He currently lives in Evanston, Illinois within a stone's throw of his
        alma mater and develops applications for various clients in the midwest.
      </p>
      <p>
        The resources found in this application were compiled by SADO's Project Reentry team members, including dozens
        of interns whose dedication to this project and to this community made this possible.
      </p>
      <p>
        If you know of a resource that should be included in this application, please email us at
        <a href="mailto:reentry@sado.org">reentry@sado.org</a>.
      </p>
    </mat-tab>
  </mat-tab-group>
</div>
