.subheader-div {
  margin: 0.5em 0 1em 0;

  .subheader-text {
    font-size: 1.1em;
    font-weight: 500;
  }

  .subheader-text.mobile {
    font-size: 0.9em;
  }

  .subheader-sub-text {
    font-size: 0.8em;
    font-style: italic;
  }
}
