@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 5em 0;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  padding-top: 20px;
  flex: 1 0 auto;
}

footer {
  position: relative;
  bottom: 0;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: #555555;
  transition: 0.2s;
}
a:visited {
  color: #555555;
  transition: 0.2s;
}
a:hover {
  color: #191919;
}
a, a:hover, a:visited {
  transition: 0.2s;
}
