<div fxLayoutAlign="center center">
  <div fxLayout="column" class="content">

    <div fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center center" fxFill class="progress-spinner" *ngIf="!org">
      <mat-spinner [diameter]="75"></mat-spinner>
      <div>Loading...</div>
    </div>

    <div fxLayout="column" fxLayoutGap="0" class="org-section" *ngIf="pageReady==true" [@transitionAnimations]="transition">
      <div fxLayout="column" fxLayoutGap="0.2em">
        <div fxLayout="row wrap" fxLayoutAlign="start end">
          <div class="page-header page-header-org">
            {{orgName}}
          </div>

          <div fxLayout="row" fxLayoutGap="0.5em" class="no-wrap edit-delete-div">
            <button mat-icon-button class="edit-button" routerLink="/admin/organization/edit/{{orgName}}" routerLinkActive="active">
              <span fxLayout="row" fxLayoutAlign="center center"><i class="far fa-edit fa-fw"></i></span>
            </button>
            <button mat-icon-button class="delete-button" (click)="openOrgDeleteDialog(orgName)">
              <span fxLayout="row" fxLayoutAlign="center center"><i class="far fa-trash-alt fa-fw"></i></span>
            </button>
          </div>

          <span class="spacer"></span>

          <span fxLayout="row" fxLayoutGap="0.5em" class="no-wrap">
            <button mat-stroked-button routerLink="/admin/organization/all" routerLinkActive="active">
              <span><i class="fas fa-angle-left"></i> BACK</span>
            </button>
          </span>
        </div>
        <div *ngIf="org.description != null && org.description != ''">{{org.description}}</div>
      </div>

      <div *ngIf="org.services!=null">
        <h4 id="services-header"><i class="fas fa-concierge-bell fa-fw"></i> Services Provided</h4>
        <mat-chip-list>
          <mat-chip *ngFor="let service of org.services">{{service}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <div fxLayout="column" class="org-section" *ngIf="org">
      <mat-divider></mat-divider>
      <h4><i class="far fa-clock fa-fw"></i> Hours</h4>
      <div *ngIf="org.specifyHours==true">
        <table id="hours-table">
          <tr *ngFor="let day of daysOfWeek">
            <th>{{day}}</th>
            <td>{{org.hours[day]['open']==true ?
              (org.hours[day]['start'] | convertTime) + ' - ' + (org.hours[day]['end'] | convertTime) : 'Closed'}}
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="org.specifyHours==false">None specified</div>
    </div>

    <div fxLayout="column" class="org-section">
      <div *ngIf="org">
        <mat-divider></mat-divider>
        <h4><i class="fas fa-map-marker-alt fa-fw"></i> Address</h4>

        <div>
          <a href="https://www.google.com/maps/place/{{org.address.streetAddress1 + ' ' + org.address.streetAddress2 + ', ' +
          org.address.city + ', ' + org.address.state + ' ' + org.address.zipCode}}" target="_blank">
            {{org.address.streetAddress1}}, {{org.address.streetAddress2}}<br>
            {{org.address.city}}, {{org.address.state}} {{org.address.zipCode}}
          </a>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div id="gMap"></div>
      </div>
    </div>

    <div fxLayout="column" class="org-section" *ngIf="org && org.website != null && org.website != ''">
      <mat-divider></mat-divider>
      <h4><i class="fas fa-globe fa-fw"></i> Website</h4>
      <div><a href="{{org.website}}" target="_blank">{{org.website}}</a></div>
    </div>

    <div fxLayout="column" class="org-section" *ngIf="org && ((org.contact.name != null && org.contact.name != '') ||
         (org.contact.email != null && org.contact.email != '') || (org.contact.phone != null && org.contact.phone != ''))">
      <mat-divider></mat-divider>
      <h4><i class="far fa-address-book fa-fw"></i> Contact Information</h4>
      <div *ngIf="org.contact.name!=null">{{org.contact.name}}</div>
      <div *ngIf="org.contact.email!=null"><a href="mailto:{{org.contact.email}}">{{org.contact.email}}</a></div>
      <div *ngIf="org.contact.phone!=null"><a href="tel:{{org.contact.phone}}" >{{org.contact.phone}}</a></div>
    </div>

    <div fxLayout="column" class="org-section" *ngIf="org">
      <mat-divider></mat-divider>
      <h4><i class="fas fa-info-circle fa-fw"></i> Other Information</h4>

      <div>
        <table id="other-info-table">
          <tr *ngIf="org.languages != null && org.languages.length > 0">
            <th>Other Languages Spoken</th>
            <td>
              <span *ngFor="let language of org.languages; last as isLast">
                {{language}}<span *ngIf="!isLast">, </span>
              </span>
            </td>
          </tr>
          <tr>
            <th>What to Bring</th>
            <td>{{org.bringWithYou=='' ? 'None specified' : org.bringWithYou}}</td>
          </tr>
          <tr *ngIf="org.payment != null && org.payment != ''">
            <th>Payment</th>
            <td>{{org.payment ? 'Yes' : 'No'}}</td>
          </tr>
          <tr *ngIf="org.transportation != null && org.transportation != ''">
            <th>Transportation Provided</th>
            <td>{{org.transportation ? 'Yes' : 'No'}}</td>
          </tr>
          <tr *ngIf="org.eligibilityRequirements != null && org.eligibilityRequirements != ''">
            <th>Eligibility Requirements</th>
            <td>{{org.eligibilityRequirements ? 'Yes' : 'No'}}</td>
          </tr>
          <tr *ngIf="org.seniorRequirements != null && org.seniorRequirements != ''">
            <th>Senior Requirements</th>
            <td>{{org.seniorRequirements ? 'Yes' : 'No'}}</td>
          </tr>
          <tr>
            <th>Additional Notes</th>
            <td>{{org.additionalNotes == '' ? 'None' : org.additionalNotes}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
