.org-section {
    margin-bottom: 1em;
    font-size: 0.8em;
}

#gMap {
    height: 15em;
    width: 25em;
    margin-top: 1em;
}

table, th, td {
    width: auto;
    text-align: left;
}
th, td {
    padding: 0 0.2em;
}
th {
    font-weight: 500;
}

h4 {
    margin-bottom: 0.5em;
}

#other-info-table, #hours-table {
    font-size: 0.9em;
}

#other-info-table th {
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

#other-info-table td {
    text-align: left;
    vertical-align: top;
}

.page-header-org {
    margin-bottom: 0.2em;
}

.edit-delete-div {
    margin-left: 0.5em;
}

.edit-button, .delete-button {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
    border: solid 0.05em #9b9b9b;
}

.edit-button:hover, .delete-button:hover {
    background-color: #ffffff;
    transform: scale(1.04);
    transition: 0.3s;
    border: solid 0.05em #696969;
}

.edit-button span, .delete-button span {
    display: block;
}
