<div fxLayout="column" class="content">

    <ng-template #progressSpinner>
      <app-progress-spinner></app-progress-spinner>
    </ng-template>

    <div *ngIf="(db.currentOrg$ | async) as org; else progressSpinner" [@transitionAnimations]>

      <div fxLayout="column" fxLayoutGap="0" class="org-section">

        <div fxLayout="column" fxLayoutGap="0.2em">
          <div fxLayout="row wrap" fxLayoutAlign="space-between end">
            <div fxLayoutAlign="start end">
              <h2 class="page-header page-header-org">[Admin] {{org.name}}</h2>

              <div fxLayout="row" fxLayoutGap="0.5em" class="no-wrap edit-delete-div">
                <button mat-icon-button class="edit-button" [routerLink]="['/', 'admin', 'orgs', 'edit', org.address.city, org.name]">
                  <span fxLayout="row" fxLayoutAlign="center center"><i class="far fa-edit fa-fw"></i></span>
                </button>
                <button mat-icon-button class="delete-button" (click)="openOrgDeleteDialog(org.address.city, org.name)">
                  <span fxLayout="row" fxLayoutAlign="center center"><i class="far fa-trash-alt fa-fw"></i></span>
                </button>
              </div>
            </div>

            <button type="button" mat-stroked-button [routerLink]="['/', 'admin', 'orgs']">
              <span><i class="fas fa-list"></i> View All Orgs</span>
            </button>
          </div>

          <div *ngIf="org.description != null && org.description != ''">{{org.description}}</div>
        </div>

        <div *ngIf="org.services!=null">
          <h4 id="services-header"><i class="fas fa-concierge-bell fa-fw"></i> Services Provided</h4>
          <mat-chip-list>
            <mat-chip *ngFor="let service of org.services">{{service}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <div fxLayout="column" class="org-section">
        <mat-divider></mat-divider>
        <h4><i class="far fa-clock fa-fw"></i> Hours</h4>

        <div *ngIf="org.hours.specifyHours==true; else noHours">
          <table id="hours-table">
            <tr *ngFor="let day of daysOfWeek">
              <th>{{day}}</th>
              <td>{{org.hours[day.toLowerCase()]['open']==true ?
                (org.hours[day.toLowerCase()]['start'] | convertTime) + ' - ' + (org.hours[day.toLowerCase()]['end'] | convertTime) : 'Closed'}}
              </td>
            </tr>
          </table>
        </div>

        <ng-template #noHours>
          <div>None specified</div>
        </ng-template>
      </div>

      <div fxLayout="column" class="org-section">
        <div>
          <mat-divider></mat-divider>
          <h4><i class="fas fa-map-marker-alt fa-fw"></i> Address</h4>

          <div>
            <a href="https://www.google.com/maps/place/{{org.address.streetAddress1 + ' ' + org.address.streetAddress2 + ', ' +
          org.address.city + ', ' + org.address.state + ' ' + org.address.zipCode}}" target="_blank">
              {{org.address.streetAddress1}}, {{org.address.streetAddress2}}<br>
              {{org.address.city}}, {{org.address.state}} {{org.address.zipCode}}
            </a>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start">
          <div id="gMap"></div>
        </div>
      </div>

      <div fxLayout="column" class="org-section" *ngIf="org.website != null && org.website != ''">
        <mat-divider></mat-divider>
        <h4><i class="fas fa-globe fa-fw"></i> Website</h4>
        <div><a href="{{org.website}}" target="_blank">{{org.website}}</a></div>
      </div>

      <div fxLayout="column" class="org-section"
           *ngIf="((org.contact.name != null && org.contact.name != '') ||
                   (org.contact.email != null && org.contact.email != '') ||
                   (org.contact.phone != null && org.contact.phone != ''))">
        <mat-divider></mat-divider>
        <h4><i class="far fa-address-book fa-fw"></i> Contact Information</h4>
        <div *ngIf="org.contact.name!=null">{{org.contact.name}}</div>
        <div *ngIf="org.contact.email!=null"><a href="mailto:{{org.contact.email}}">{{org.contact.email}}</a></div>
        <div *ngIf="org.contact.phone!=null"><a href="tel:{{org.contact.phone}}" >{{org.contact.phone}}</a></div>
      </div>

      <div fxLayout="column" class="org-section">
        <mat-divider></mat-divider>
        <h4><i class="fas fa-info-circle fa-fw"></i> Other Information</h4>

        <div>
          <table id="other-info-table">
            <tr *ngIf="org.languages != null && org.languages.length > 0">
              <th>Other Languages Spoken</th>
              <td>
              <span *ngFor="let language of org.languages; last as isLast">
                {{language}}<span *ngIf="!isLast">, </span>
              </span>
              </td>
            </tr>
            <tr>
              <th>What to Bring:</th>
              <td>{{org.bringWithYou=='' ? 'None specified' : org.bringWithYou}}</td>
            </tr>
            <tr *ngIf="org.payment != null && org.payment != ''">
              <th>Payment:</th>
              <td>{{org.payment ? 'Yes' : 'No'}}</td>
            </tr>
            <tr *ngIf="org.transportation != null && org.transportation != ''">
              <th>Transportation Provided:</th>
              <td>{{org.transportation ? 'Yes' : 'No'}}</td>
            </tr>
            <tr *ngIf="org.eligibilityRequirements != null && org.eligibilityRequirements != ''">
              <th>Eligibility Requirements:</th>
              <td>{{org.eligibilityRequirements ? 'Yes' : 'No'}}</td>
            </tr>
            <tr *ngIf="org.seniorRequirements != null && org.seniorRequirements != ''">
              <th>Senior Requirements:</th>
              <td>{{org.seniorRequirements ? 'Yes' : 'No'}}</td>
            </tr>
            <tr>
              <th>Additional Notes:</th>
              <td>{{org.additionalNotes == '' ? 'None' : org.additionalNotes}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
