<div fxLayout="column" fxLayoutGap="1.5em">
  <ng-container *ngIf="(searchStatus$ | async) === 'searching'; else ready">
    <app-progress-spinner></app-progress-spinner>
  </ng-container>

  <ng-template #ready>
    <ng-container *ngIf="(searchStatus$ | async) === 'ready'; else done">
      <form [formGroup]="servicesNearMeForm" [@transitionAnimations] fxFill fxLayout="column" fxLayoutGap="2em" (keydown.enter)="$event.preventDefault()">

        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5%">
          <mat-form-field fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-label><i class="fas fa-concierge-bell fa-sm fa-fw"></i> Which services are you looking for?</mat-label>
            <mat-select formControlName="serviceCategories" multiple [required]="true">
              <mat-option value="All Services" (click)="selectAllToggle()">--- Select All ---</mat-option>
              <mat-option *ngFor="let service of (serviceCategories$ | async)" [value]="service.name" (click)="selectServiceCategory()">{{service.name}}</mat-option>
            </mat-select>
            <mat-hint>
              Select at least one type of service.
            </mat-hint>
            <mat-error *ngIf="servicesNearMeForm.get('serviceCategories').hasError('required')">
              Please select at least one type of service.
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="45%" fxFlex.sm="45" fxFlex.xs="100%">
            <mat-label><i class="fas fa-map-marker-alt fa-sm fa-fw"></i> Where are you?</mat-label>
            <input matInput type="text" formControlName="location" placeholder="ex. 'Detroit' or '645 Griswold St, Detroit, MI'"
                   [required]="true" (keyup.enter)="findOrgs()">
            <mat-hint>
              Type in your city or address located in Michigan.
            </mat-hint>
            <mat-error *ngIf="servicesNearMeForm.get('location').hasError('required')">
              A city or address located in Michigan is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button type="button" mat-stroked-button [disabled]="!servicesNearMeForm.valid" id="find-services-button"
                  (keyup.enter)="findOrgs()" (click)="findOrgs()">
            <span><i class="fas fa-search"></i> FIND SERVICES NEAR ME</span>
          </button>
        </div>

      </form>
    </ng-container>
  </ng-template>

  <ng-template #done>
    <div fxLayout="column" fxFill fxLayoutGap="1em">

      <!--Services Near Me Header-->
      <mat-card class="near-me-header-card mat-elevation-z0">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="column" fxLayoutGap="1em" class="near-me-header-div">
            <div class="near-me-header" fxLayout="row wrap">
              <div>Services Near&nbsp;</div>
              <div>
                <strong>{{codedLocation.formattedAddress}}</strong>
              </div>
            </div>
            <div fxLayout="column" fxLayoutGap="0.5em" *ngIf="selectedServiceCategories.length > 0">
              <div>
                <strong>Selected Categor{{selectedServiceCategories.length>1 ? 'ies' : 'y'}}</strong>
              </div>
              <div>
                <mat-chip-list>
                  <mat-chip class="selected-category" *ngFor="let category of selectedServiceCategories">{{category}}</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>

          <div>
            <a href="javascript:void(0)" (click)="tryAnotherSearch()">Try another search</a>
          </div>
        </div>
      </mat-card>

      <!--Filter Controls-->
      <mat-accordion>
        <mat-expansion-panel class="org-filter-controls mat-elevation-z0" (opened)="showFilterControls = true" (closed)="showFilterControls = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span><i class="fas fa-sliders-h"></i> Search Filters</span>
            </mat-panel-title>
            <mat-panel-description>
              Click to {{showFilterControls==false ? 'view' : 'hide'}} filter options.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em" fxLayoutGap.xs="1em">
            <div fxLayout="column" fxFlex="50" fxLayoutGap="0.75em">
              <div><mat-slide-toggle (change)="applyOrgFilters()" [(ngModel)]="orgFilters.includeReligiousOrgs">Include religious organizations</mat-slide-toggle></div>
              <div><mat-slide-toggle (change)="applyOrgFilters()" [(ngModel)]="orgFilters.noEligibilityRequirements">Has no eligibility requirements</mat-slide-toggle></div>
              <div><mat-slide-toggle (change)="applyOrgFilters()" [(ngModel)]="orgFilters.showOnlyOrgsWithTransport">Provides transportation</mat-slide-toggle></div>
            </div>
            <div fxLayout="column" fxFlex="45" fxLayoutGap="0">
              <div>
                <mat-slider fxFlex="100" [max]="200" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="10"
                            (change)="applyOrgFilters()" [(ngModel)]="orgFilters.distanceRadius"></mat-slider>
              </div>
              <div>
                Show organizations within <strong>{{orgFilters.distanceRadius}} mile<span *ngIf="orgFilters.distanceRadius>1">s</span></strong> from me.
              </div>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>

      <!--List of Services-->
      <mat-card class="org-card mat-elevation-z0" *ngFor="let org of filteredOrgs$ | async; last as isLast">
        <div class="org-name">
          <a [routerLink]="['/service/view', org.name]">{{org.name}}</a>
        </div>

        <div fxLayout="row" fxLayoutGap="1em" fxLayout.xs="column">
          <div fxLayout="column" fxFlex="75" fxFlex.sm="60">
            <div>
              <i class="fas fa-map-marker-alt fa-fw"></i>
              {{org.address.streetAddress1}}, {{org.address.city}}, {{org.address.state}}
            </div>
            <div>
              <i class="fas fa-concierge-bell fa-fw"></i>
              <span *ngFor="let service of org.services; last as isLast">
              {{service}}<span *ngIf="!isLast">, </span>
            </span>
            </div>
          </div>

          <div fxLayout="column" fxFlex="25" fxFlex.sm="40" fxFlexAlign="end">
            <div fxFlexAlign="end" class="miles-away">{{org.distance}} away</div>
          </div>
        </div>
      </mat-card>

      <!--Display if No Services Found-->
      <mat-card class="org-card mat-elevation-z0" *ngIf="(filteredOrgs$ | async).length === 0">
        <div>
          <strong><i class="fas fa-info-circle"></i> No Services Found</strong>
        </div>
        <p>
          No services belonging to selected categor{{selectedServiceCategories.length>1 ? 'ies' : 'y'}} were found within
          <strong>{{orgFilters.distanceRadius}} mile<span *ngIf="orgFilters.distanceRadius>1">s</span></strong>
          of <strong>{{codedLocation.formattedAddress}}</strong>.
        </p>
        <p>
          Please try adjusting search filter options or <a href="javascript:void(0)" (click)="tryAnotherSearch()">try another search</a>.
        </p>
      </mat-card>

    </div>
  </ng-template>

</div>
